.char-portrait {
  width: 400px;
  height: 400px;
  position: relative;
}

.corp-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5px;
}

.alli-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}
