:root {
  --main-color: var(--bs-primary-border-subtle);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: var(--bs-gradient);
}
.horizontal-slider {
  max-width: 100%;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}
.thumb.active {
  background-color: grey;
}
.track.track {
  border: none;
}
.track.track-0,
.track.track-2 {
  top: 0 !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.65);
}
.track.track-1 {
  background: transparent;
}
.slider .track {
  /* Top value to align your track to the center of your thumb */
  /* thickness of the track */
  height: 4px;
  /* default color of your track */
}
.slider .thumb {
  cursor: pointer;
  box-sizing: border-box;
  background: color-mix(in srgb, var(--main-color) 50%, transparent);
  width: 15px;
  height: 50px;
  border-radius: 0%;
  border: 2px solid #fffa;
  outline: none;
}
.slider .thumb-0 {
  border-right: 0;
}
.slider .thumb-1 {
  border-left: 0;
}
