{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% load humanize  %}

{% block page_title %}{% trans "Corp Tools!" %}{% endblock %}
{% block extra_css %}
{% include 'bundles/datatables-css.html' %}

 <style>
.noheader thead {
  display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.flex-wrap {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    margin: 2px;
}

.flex-middle {
    display: flex;
    align-items: center;
  justify-content: center;
}

.pannel-hieght-locked {
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;
}

.panel-height-locked-large {
  min-height: 600px;
  max-height: 600px;
  overflow-y: auto;
}

.scroll-bar-narrow::-webkit-scrollbar-track {
    border-radius: 5px;

}

.scroll-bar-narrow::-webkit-scrollbar-track-piece {
  background-color: #375a7f;
  border-color: transparent;
  border-width: 7px;
  border-style: solid;
  background-clip: padding-box;

}

.scroll-bar-narrow::-webkit-scrollbar
{
	width: 15px;
    border-width: 5px;
    background-color: transparent;
}

.scroll-bar-narrow::-webkit-scrollbar-thumb
{
    background-color: #375a7f;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: padding-box;
}

.img-pad
{
    padding: 5px;
}

table.dataTable tbody td {
  vertical-align: middle;
}

#chartdiv {
  width	: 100%;
  height	: 500px;
}								

tr.group,
        tr.group:hover {
            background-color: #3498DB !important;
        }



</style>

{% endblock extra_css %}
{% block content %}
    <div class="col-lg-12">
        <div class="col-lg-12 container">
            <br>
            <div class="panel panel-primary">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'corptools:view' %}">Account Audit</a>
                        </div>
                
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="">
                                    <a href="{% url 'corptools:overview' main_char.character_id %}">Overview</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'corptools:assets' main_char.character_id%}">Assets</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'corptools:clones' main_char.character_id%}">Clones</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'corptools:skills' main_char.character_id%}">Skills</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'corptools:wallet' main_char.character_id %}">Wallet</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav pull-right">
                                <li class="pull-right">
                                    <a href="{% url 'corptools:add_char' %}">Add Token</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </nav>
    
                <div class="panel panel-body">
                    <div class="row">
                        <div class="text-center col-md-2">
                            <img class="ra-avatar img-circle" src="{{ main_char.portrait_url_128 }}">
                            <h4>{{ main_char.character_name }}</h4>
                        </div>
                        <div class="text-center col-md-2 hidden-xs hidden-sm">
                            <img class="ra-avatar img-circle" src="{{ main_char.corporation_logo_url_128 }}">
                            <h4>{{ main_char.corporation_name }}</h4>
                        </div>
                        {% if main_char.alliance_id %}
                            <div class="text-center col-md-2 hidden-xs hidden-sm">
                                <img class="ra-avatar img-circle" src="{{ main_char.alliance_logo_url_128 }}">
                                <h4>{{ main_char.alliance_name }}</h4>
                            </div>
                        {% endif %}
                        <div class="col-xs-12 hidden-md hidden-lg"><hr></div>
                        <div class="text-center col-md-6"  rowspan="2">
                            <h4>Linked characters</h4> 
                            {% for alt in alts|slice:":15" %}
                        <span style="background-color: {% if alt.characteraudit %}#008844{% else %}#AA0000{% endif %}" class="label label-default"><img class="ra-avatar img-circle img-pad" src="{{ alt.portrait_url_32 }}"> {{ alt.character_name }}</span>
                            {% endfor %}
                            {% if alts.count > 15 %}<span class="label label-default">{{ alts.count|subtract:15 }} More... </span>{% endif %}
                            <br>
                            <span class="label label-default">Total Account ISK: {{ net_worth|intcomma }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% block ct_block %}{% endblock %}
    </div>
{% endblock %}
