{% extends 'allianceauth/base.html' %}
{% block page_title %}Audit!{% endblock %}

{% block extra_css %}

    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link href="/static{{CSS}}" rel="stylesheet" />

{% endblock %}

{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>

{% endblock %}

{% block extra_javascript %}
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script  src="/static{{JS}}"></script>

{% endblock %}
