.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.spinner-size {
  height: 30px;
  width: 30px;
  margin: 200px;
}
